ERC4337_TEST_BUNDLER_URL=http://localhost:3000/rpc
ERC4337_TEST_NODE_URL=http://localhost:8545
ERC4337_TEST_SINGLETON_ADDRESS=Safe_address
ERC4337_TEST_SAFE_FACTORY_ADDRESS=SafeProxyFactory_address
MNEMONIC="test test test test test test test test test test test junk"