[submodule "compression/lib/forge-std"]
	path = compression/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "compression/lib/openzeppelin-contracts"]
	path = compression/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
