[submodule "compression/lib/forge-std"]
	path = account-integrations/compression/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "compression/lib/openzeppelin-contracts"]
	path = account-integrations/compression/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "account-integrations/safe/lib/forge-std"]
	path = account-integrations/safe/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "account-integrations/safe/lib/openzeppelin-contracts"]
	path = account-integrations/safe/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "account-integrations/safe/lib/safe-contracts"]
	path = account-integrations/safe/lib/safe-contracts
	url = https://github.com/safe-global/safe-contracts
[submodule "account-integrations/safe/lib/account-abstraction"]
	path = account-integrations/safe/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "account-integrations/kernel/lib/forge-std"]
	path = account-integrations/kernel/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "account-integrations/kernel/lib/kernel"]
	path = account-integrations/kernel/lib/kernel
	url = https://github.com/zerodevapp/kernel
[submodule "primitives/lib/forge-std"]
	path = primitives/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "account-integrations/zkp/lib/circom"]
	path = account-integrations/zkp/lib/circom
	url = https://github.com/iden3/circom.git
[submodule "account-integrations/barebones/lib/forge-std"]
	path = account-integrations/barebones/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
