[submodule "compression/lib/forge-std"]
	path = packages/compression/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "compression/lib/openzeppelin-contracts"]
	path = packages/compression/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/plugins/lib/forge-std"]
	path = packages/plugins/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/plugins/lib/openzeppelin-contracts"]
	path = packages/plugins/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "packages/plugins/lib/safe-contracts"]
	path = packages/plugins/lib/safe-contracts
	url = https://github.com/safe-global/safe-contracts
[submodule "packages/plugins/lib/account-abstraction"]
	path = packages/plugins/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "packages/zkp/lib/circom"]
	path = packages/zkp/lib/circom
	url = https://github.com/iden3/circom.git
[submodule "packages/barebones/lib/openzeppelin-contracts"]
	path = packages/barebones/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "packages/barebones/lib/forge-std"]
	path = packages/barebones/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/plugins/lib/kernel"]
	path = packages/plugins/lib/kernel
	url = https://github.com/zerodevapp/kernel
[submodule "packages/plugins/lib/erc7579-implementation"]
	path = packages/plugins/lib/erc7579-implementation
	url = https://github.com/erc7579/erc7579-implementation
[submodule "packages/plugins/lib/reference-implementation"]
	path = packages/plugins/lib/reference-implementation
	url = https://github.com/erc6900/reference-implementation
[submodule "packages/plugins/lib/openzeppelin-contracts-upgradeable"]
	path = packages/plugins/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "packages/plugins/lib/zk-email-verify"]
	path = packages/plugins/lib/zk-email-verify
	url = https://github.com/zkemail/zk-email-verify
[submodule "packages/plugins/lib/openzeppelin-contracts-v4"]
	path = packages/plugins/lib/openzeppelin-contracts-v4
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
