.wax-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  max-width: 1280px;
  margin: 0 auto;
}
