.choose-account-page {
  width: 100vw;
  text-align: center;
}

.account-types {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.account-type-heading {
  font-weight: bold;
  margin: 1em;
}
